body {
  margin: 0;
  background-color: #fff;
}

header {
  height: 8%;
  width: 100%;
  background-color: #7B6D8D;
  z-index: 3;
  box-shadow:
}

.titleLabel {
  position: relative;
  text-align: center;
  opacity: 0.8;
  font-size: 50px;
  font-family: 'Lora', sans-serif;
  color: #fff;
  margin-top: 10%;
  z-index: 1;
}

#infoContainer {
  height: 100%;
  width: 100%;
}

#backgroundVid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.9;
  filter: hue-rotate(220deg);
}

#labelContainer:hover {
  opacity: 1;
}

#labelContainer {
  position: relative;
  opacity: 0.8;
  background-color: #593F62;
  margin-top: 20%;
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-radius: 10px;
  z-index: 1;
}

#indicator {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: 'Lora', sans-serif;
}

.headerLogo {
  margin-left: 1%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  height: 60px;
  width: 60px;
  transition: color 0.3s linear;
}

.headerLogo:hover {
  opacity: 0.7;
}
